body{
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav{
    
    overflow:hidden;
    background-color: rgb(54, 50, 45);
    width:100%;
    position:fixed;
    
    
}

a{
    float:left;
    text-align:left;
    align-items:center;
    padding:10px ;
    font-size:20px;
    text-decoration: none;
    color:aliceblue;
    display:block;
    text-decoration:none;
}
.sweet{
    font-size:30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#sweet-castle{
    width:1000px;
    height:500px;
    padding:30px;
    display:block; 
    position:center;
}
#black{
    background-color: rgb(30, 18, 18);
    color:white;
    margin:20px;
    height:140px;
}
#images{
    display:flex;
    direction:row;
    justify-content:space-evenly;
    padding:30px;
    width:100%;

    flex-grow:2,1,1,1;
}
.cake{
    width:24.6%;
    size:auto;
}