* {
    margin: 0;
    padding: 0;
}

body {

    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;

}

.flex-container {
    display: flex;
    background-color: whitesmoke;
    border-color: black;
    padding: 14px 16px;
    justify-content: left;
    font-size: 17px;
}

.flex-container>div {

    margin: 10px;
    padding: 5px;
    font-size: 17px;
    text-align: left;
    border-color: black;
    border-radius: 25px;
}

.flex-container input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    align-content: right;
}


#landingPage {
    width: 100%;
    height: 50%
}

.welcome {
    position: relative;


}

#bakery {
    position: absolute;
    font-size: 80px;
    text-align: right;
    font-family: cursive;
    font-style: italic;
    color: red;
    bottom: 20px;
    right: 20px;
    margin-left: 100px;
    padding-left: 50px;
    padding-bottom: 100px;
    padding-right: 20px;

}

#subbakery {
    position: absolute;
    font-size: 50px;
    text-align: right;
    font-family: cursive;
    font-style: italic;
    color: red;
    bottom: 20px;
    right: 20px;
    margin-left: 100px;
    padding-left: 50px;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-right: 20px;

}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: blue;
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.image {
    width: 90%;
    height: 50%;
    padding-left: 200px;
}

/* Number text (1/5 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}